<!doctype html>
<html>
  <head>
    <script src="json2.js"></script>
    <script src="angular.js"></script>

    <script>
      angular.element(document).ready(function() {
        if (document.body.getAttribute('data-prerendered')) {
          document.addEventListener('click', function() {
            document.removeEventListener('click', arguments.callee, true);
            angular.bootstrap(document.documentElement, []);
            return true;
          }, true);
        } else {
          angular.bootstrap(document.documentElement, []);
          document.documentElement.className = document.documentElement.className + ' ng-app';
        }
      });
    </script>

  </head>
  <body>
    <button id="testbtn1" ng-click="hide_that=true">hide foo</button>
    <div id="ngtestid1" ng-hide="hide_that">foo</div>
    <button id="testbtn2" ng-click="show_that=true">show bar</button>
    <div id="ngtestid2" ng-show="show_that">bar</div>
  </body>
</html>
